body {
  margin: 0;
}

.body-wrapper {
  width: 100%;
}

.main-content {
  height: 271px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.element-wrapper {
  margin: 40px 0;
  margin-left: 12%;
  margin-right: 12%;
}

.element {
  width: 100px;
  height: 100px;
  filter: drop-shadow(1px 1px 3px rgb(0 0 0 / 11%));
  border-radius: 5px;
  transition: 0.2s;
  animation: animation-signs 2s infinite;
}

.element:hover {
  filter: drop-shadow(1px 1px 3px rgb(0 0 0 / 30%));
  cursor: pointer;
  background-size: 130%;
  background-color: white;
  animation: animation-signs 6s infinite;
}

@keyframes animation-signs {
  0% {
    transform: rotate(0deg);
  }

  33% {
    transform: rotate(-6deg);
  }

  66% {
    transform: rotate(6deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.el-a {
  background: url(./images/svg/aries-symbol.svg);
  background-size: contain;
}

.el-b {
  background: url(./images/svg/cancer-astrological-symbol.svg);
  background-size: contain;
}

.el-c {
  background: url(./images/svg/capricorn-1.svg);
  background-size: contain;
}

.el-d {
  background: url(./images/svg/gemini-zodiac-sign-symbol.svg);
  background-size: contain;
}

.el-e {
  background: url(./images/svg/leo-lion-head-side.svg);
  background-size: contain;
}

.el-f {
  background: url(./images/svg/libra-scale-balance-symbol.svg);
  background-size: contain;
}

.el-g {
  background: url(./images/svg/pisces-astrological-sign-symbol.svg);
  background-size: contain;
}

.el-h {
  background: url(./images/svg/sagittarius-sign.svg);
  background-size: contain;
}

.el-i {
  background: url(./images/svg/taurus.svg);
  background-size: contain;
}
