body {
  margin: 0;
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
}

.body-wrapper {
  width: 100%;
}

.main-content {
  margin: 3% 20% 0 20%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.element-wrapper {
  flex: 30%;
  display: flex;
  align-items: center;
  height: 158px;
  justify-content: center;
}

.element {
  width: 90px;
  height: 90px;
  filter: drop-shadow(1px 1px 3px rgb(0 0 0 / 60%));
  border-radius: 5px;
  animation: animation-signs 2s infinite;
  background-position: center;
}

.element:hover {
  cursor: pointer;
  background-size: 108%;
  background-position: center;
}

@keyframes animation-signs {
  0% {
    transform: rotate(0deg);
  }

  33% {
    transform: rotate(-6deg);
  }

  66% {
    transform: rotate(6deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.el-a {
  background: url(./images/svg/banana.png);
  background-size: contain;
}

.el-b {
  background: url(./images/svg/coco.png);
  background-size: contain;
}

.el-c {
  background: url(./images/svg/kiwi.png);
  background-size: contain;
}

.el-d {
  background: url(./images/svg/granada.png);
  background-size: contain;
}

.el-e {
  background: url(./images/svg/avocado.png);
  background-size: contain;
}

.el-f {
  background: url(./images/svg/frutilla.png);
  background-size: contain;
}

.el-g {
  background: url(./images/svg/sandia.png);
  background-size: contain;
}

.el-h {
  background: url(./images/svg/manzana.png);
  background-size: contain;
}

.el-i {
  background: url(./images/svg/uva.png);
  background-size: contain;
}
