body {
  margin: 0;
}

.body-wrapper {
  width: 100%;
}

.row {
  height: 271px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.square-wrapper {
  margin: 40px 0;
  margin-left: 12%;
  margin-right: 12%;
}

.square {
  width: 100px;
  height: 100px;
  filter: drop-shadow(1px 1px 3px rgb(0 0 0 / 11%));
  border-radius: 5px;
  transition: 0.2s;
  animation: animation-signs 2s infinite;
}

.square:hover {
  filter: drop-shadow(1px 1px 3px rgb(0 0 0 / 30%));
  cursor: pointer;
  background-size: 130%;
  background-color: white;
  animation: animation-signs 6s infinite;
}

@keyframes animation-signs {
  0% {
    transform: rotate(0deg);
  }

  33% {
    transform: rotate(-6deg);
  }

  66% {
    transform: rotate(6deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.red {
  background: url(./images/svg/aries-symbol.svg);
  background-size: contain;
}

.blue {
  background: url(./images/svg/cancer-astrological-symbol.svg);
  background-size: contain;
}

.yellow {
  background: url(./images/svg/capricorn-1.svg);
  background-size: contain;
}

.green {
  background: url(./images/svg/gemini-zodiac-sign-symbol.svg);
  background-size: contain;
}

.orange {
  background: url(./images/svg/leo-lion-head-side.svg);
  background-size: contain;
}

.violet {
  background: url(./images/svg/libra-scale-balance-symbol.svg);
  background-size: contain;
}

.black {
  background: url(./images/svg/pisces-astrological-sign-symbol.svg);
  background-size: contain;
}

.grey {
  background: url(./images/svg/sagittarius-sign.svg);
  background-size: contain;
}

.white {
  background: url(./images/svg/taurus.svg);
  background-size: contain;
}

.row_a-1 {
  order: 1;
}

.row_a-2 {
  order: 2;
}

.row_a-3 {
  order: 3;
}

.row_b-1 {
  order: 4;
}

.row_b-2 {
  order: 5;
}

.row_b-3 {
  order: 6;
}

.row_c-1 {
  order: 7;
}

.row_c-2 {
  order: 8;
}

.row_c-3 {
  order: 9;
}
